:root {
    --primary-light: #74a84a;
    --primary-dark: #2c541d;
    --black: #000000;
    --white: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Courier New', Courier, monospace;
    background-color:  #f4fbf4;
}
a {
    text-decoration: none;
    color: inherit;
}

#header {
    width: 100vw;
    min-height: 100vh;
    background-image: url("Images/bg.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: auto;  
    padding: 0 8;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 18px;
}
nav .logo {
    font-size: 20px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 60px;
}
.header-container h1 {
    font-size: 60px;
    color: var(--white); 
    font-weight: 500;
}
.header-container p{
    font-size: 40px;
    color: var(--black)

}
.primary-button {
    padding: 10px 24px;
    background-color: var(--primary-light);
    color: var(--white);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.primary-button:hover {
    background-color: var(--primary-dark);
}
.menu-button {
    position: absolute;
    right: 16px;
    top: 16px;
    background: var(--primary-light);
    padding: 8px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}

#team-section {
    display: flex;
    gap: 30px;
    margin-top: 0;
    justify-content: center;
    flex-wrap: wrap;
}
.team {
    width: 300px; 
}
.team p {
    color: gray;
}
.team img {
    max-width: 100%;
}

#team h1 {
    font-size: 32px;
    color: var(--primary-dark);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

#team {
    margin-top: 120px;
}

#about {
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
}

.about-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-content h1 {
    font-size: 32px;
    color: var(--primary-dark);
    text-transform: uppercase;
}

#about img {
    max-width: 100%;
    width: 600px;
    height: auto;
    border-radius: 8px
}

@media only screen and (max-width:520px) {
    #header {
        min-height: 50vh;
    }
    .header-container h1 {
        font-size: 32px;
    }
    .header-container p {
        font-size: 24px;
    }
    .menu-button {
        display: block;
    }

    nav {
        padding: 16px;
    }

    nav ul {
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: var(--white);
        width: 80%;
        height: 100%;
        align-items: end;
        padding-top: 80px;
        margin-right: -900px;
        transition: all .3s ease;
    }

    nav ul.active {
        margin-right: 0;
    }

    nav li {
        border-bottom: 1px solid var(--primary-dark);
        width: 100%;
        padding: 8px 16px;
        text-align: right;
    }
}