* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Courier New', Courier, monospace;
}

#header {
    width: 100vw;
    min-height: 100vh;
    background-image: url("../Images/bg.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: auto;  
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}